<section id="comments">
<h1>{{#ifCond comments.length "!=" 1}}{{comments.length}} comments{{else}}1 comment{{/ifCond}}</h1>
<div id="comments-wrapper">
  {{#each comments}}
    {{!--
      {{setFalse @owner}}
      Would like to set a variable here
      {{#ifCond author === page.author && authorEmail === page.authorEmail && authorURL === page.authorURL}}
        {{setTrue @owner}}
      {{/ifCond}}
    --}}
    <article id="comment-{{inc @index}}" {{#if @owner}}class="owner"{{/if}}>
      <p class="meta">
        <img src="//gravatar.com/avatar/{{md5 authorEmail}}?s=26" width="26" height="26" />
        {{!-- author($comment->author, $comment->authorURL, true)} --}}
        {{author}}
        {{#if @owner}} (revision owner) {{/if}} commented
        <time datetime="{{DatetoISOString published}}" pubdate>{{relativeDate published}}</time>:
        <a href="#comment-{{inc @index}}" title="Permanent link to this comment">∞</a>
        {{!-- TODO: Admin
          {{#if isset($_SESSION['admin'])}}
            <a href="/edit-comment/{{id}}">edit</a>
          {{/if}}
        --}}
      </p>
      <div>{{markdown content}}</div>
    </article>
  {{/each}}
<form action="/{{page.slug}}{{#ifCond page.revision ">" 1}}/{{page.revision}}{{/ifCond}}#comment-form" method="post" id="comment-form">
	<fieldset>
		<h2>Add a comment</h2>
		<div>
      <label for="author">Name <em title="This field is required">*</em> </label>
      <input type="text" name="author" id="author" {{#if author}}value="{{author}}"{{/if}} required />
      {{#if nameError}}{{nameError}}{{/if}}
    </div>
		<div>
      <label for="author-email">Email <em title="This field is required">*</em> </label>
      {{#unless mailError}}<label class="inline">{{/unless}}
      <input type="email" name="author-email" id="author-email" {{#if authorEmail}}value="{{authorEmail}}"{{/if}} required />
      {{#if mailError}} {{mailError}}{{else}} (only used for Gravatar)</label>{{/if}}
    </div>
		<div>
      <label for="author-url">URL </label>
      <input type="url" name="author-url" id="author-url" {{#if authorURL}}value="{{authorURL}}"{{/if}}>
    </div>
		<div>
      <label for="message">Message <em title="This field is required">*</em> <span>Markdown syntax is allowed</span></label>
      {{!--
        https://github.com/mathiasbynens/jsperf.com/blob/002825bc3b111714ec0b7b2e02bed72258fdf492/_inc/start.php#L220
        <?php epv('message', true, false, true); ?><?php if ($msgError) { echo ' ' . $msgError; } ?>
        TODO: Not going to bother with this for now
      --}}
    </div>
		<div class="question">
      <label for="question">Are you a spammer? <span>(just answer the question)</span> </label>
      {{!-- epv https://github.com/mathiasbynens/jsperf.com/search?utf8=%E2%9C%93&q=function+epv&type=Code --}}
      <input type="text" id="question">{{#if spamError}} {{spamError}}{{/if}}
    </div>
		<div class="buttons">
      <input type="submit" class="submit" value="Add comment">
    </div>
	</fieldset>
</form>
</div>
</section>